<template name="list">

  <div class="container">
    <h1>List</h1>
    <ul class="collection">
      {{#each items}}
        {{> listItem}}
      {{/each}}
    </ul>
  </div>

</template>


<template name="listItem">

  <li class="collection-item avatar">
    {{#if image}}
      <img src="{{ image }}" alt="" class="circle">
    {{else}}
      <i class="material-icons circle">folder</i>
    {{/if}}
    <span class="title">{{ title }}</span>
    <p>
      {{ body }}
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i>{{ score }}</a>
  </li>

</template>
